.header {
  background: #232323;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #e8c997;
  border-bottom: solid 2px #F0C175;
}

.nav {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.link, .brand {
  color: #e8c997;
}

.brand {
  height: 100%;
  padding: 10px 0;
  display: flex;
  text-align: center;
}
.brand a {
  font-size: 40px;
  font-weight: 400;
}
.brand strong {
  font-weight: 900;
}