.gallery_container {
  padding: 20px 130px;
  margin: auto;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  max-width: 1240px;
}

.tokens_container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.gallery_container::before{
  content: ' ';
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/static/bg-02.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.4);
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 250px;
}

.card {
  width: 25%;
}
.card > img {
  width: 220px;
}

.gallery_container::-webkit-scrollbar {
  width: 10px;
  position: absolute;
  right: 0;
}
.gallery_container::-webkit-scrollbar-track {
  background: #121212;        /* color of the tracking area */
}
.gallery_container::-webkit-scrollbar-thumb {
  background: #f0c175;
  border-radius: 10px;
}
