.button {
  box-sizing: content-box;
  display: block;
  color: white;
  position: relative;
}

.button:hover::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  position: absolute;
  border: solid 3px #f0c175;
  transition: all 1s ease-in-out;
}
.button:hover {
  color: #f0c175;
}
.connected {
  color: #f0c175;
}
.connected::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  position: absolute;
  border: solid 3px #f0c175;
}
.connecting {
  color: aqua;
  background-color: black;
}