.button {
  box-sizing: content-box;
  display: block;
  color: white;
  position: relative;
  width: 230px;
  height: 20px;
  cursor: pointer;
}

.button:hover::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  position: absolute;
  border: solid 3px #f0c175;
  transition: all 1s ease-in-out;
}
.button:hover {
  color: #f0c175;
}
.connected {
  color: #f0c175;
}
.connected::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  position: absolute;
  border: solid 3px #f0c175;
}
.connecting {
  color: black;
  background: radial-gradient(circle, rgba(240,193,117,1) 0%, rgba(119,95,57,1) 45%, rgba(240,193,117,1) 100%);
  animation: connectingBtn 2s infinite linear;
}

.connecting:hover {
  color: black;
}

@keyframes connectingBtn {
  0% {
    background-position: center;
    background-size: 100%;
  }
  
  50% {
    background-position: center;
    background-size: 150%;
   }
   100% {
    background-position: center;
    background-size: 100%;
   }
}