.footer {
  height: 26px;
  background: #232323;
  color: #ffffff;
  width: 100%;
  text-align: center;
  max-height: 60px;
  bottom: 0;
  padding: 3px;
  position:absolute;
  z-index: 100;
}

.footer div {
  max-width: 1240px;
  margin: auto;
  border-top: solid 2px #f0c175;
}
.footer p {
  font-weight: 400;
  font-size: 12px;
  text-align: start;
}
