.DetailTokenContainer{
    height: 50%;
    background: #282934;
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(0,0,0,.5);
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.DetailTokenContainer:before {
    content: '';
    position: absolute;
    top:0;
    left:-150px;
    width: 100px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: skew(-30deg);
    transition: 0.9s;
}

.DetailTokenSignature {
    font-size: 300rem;
    text-align: center;
    line-height: 1vh;
    color: #fcedd8;
    font-family: 'Qwitcher Grypen', cursive;
    width: 50%;
    height: 50%;
    position: relative;
    font-weight: 400;
    letter-spacing: -374px;
    text-shadow: 5px 5px 0px #bcbdbd,
                10px 10px 0px #f3269f,
                15px 15px 0px #0d0204,
                20px 20px 0px #017e7f,
                25px 25px 0px #052939,
                30px 30px 0px #f8e259,
                35px 35px 0px #f8e259,
                40px 40px 0px #b3873a,
                45px 45px 0px #b3873a;
    position: absolute;
    z-index: 0;
}


.detailCard {
    max-width: 280px;
    position: absolute;
}

.DetailCardLeft {
    width: 100%;
}

.DetailCardLeft > p {
    color: white;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder
}

.DetailCardLeft > h1 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 10px;
}

.DetailCardRight {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.DetailTokenContainer:hover:before {
    animation-name: brightEffect;
    animation-duration: 3s;
    animation-delay: 0.2s;
    animation-iteration-count: 4;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(.15,.77,.97,.22);
}

@keyframes brightEffect {
    0% {
        left:-150px;
    }

    25% {
        background: rgba(255, 255, 255, 0.3);
    }

    75% {
        background: rgba(255, 255, 255, 0.1);
    }

    100% {
        left: 100%;
    }
}