.main_page {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin; 
  scrollbar-color: #f0c175 #121212;
}


.main_page::-webkit-scrollbar {
  width: 10px;
}
.main_page::-webkit-scrollbar-track {
  background: #121212;        /* color of the tracking area */
}
.main_page::-webkit-scrollbar-thumb {
  background: #f0c175;
  border-radius: 10px;
}

