.default-button {
  background-color: #00000052;
  padding: 12px 40px;
  border-radius: 12px;
  border: none;
  margin: auto;
}

.card {
  background-color: transparent;
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48;
  color: black;
}