.default-button {
  background-color: #00000052;
  padding: 12px 40px;
  border-radius: 12px;
  border: none;
  margin: auto;
}

.card {
  background-color: transparent;
}

.nav-pills .nav-link.active, .navbar-toggler {
  background-color: #e8c997;
}