@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #121212 !important;
}

#__next {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#modal-root {
  position: fixed;
  max-width: 1240px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 16px;
  overflow: hidden;
  margin: auto;
}

main {
  height: calc(100vh - 84px);
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto";
  text-decoration: none;
  color: #f0c175;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

@import "./defaults.css";
