.scoreboard {
  height: calc(100vh - 90px);
  scroll-snap-align: center;
  padding-top: 80px;
}

.scoreboard > div {
  max-width: 1280px;
  margin: auto;
}

.cardContainer {
  background-color: #121212;
}